@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    
}
a{
    color: white;
    text-decoration: none;
}
img{
    width: 100%;
    display: flex;
}
html{
    scroll-behavior: smooth;
}
body{
    
    font-family: 'Poppins', sans-serif;
    background-color: rgba(226, 38, 38, 1);
    background-image: linear-gradient(181deg, rgb(173, 28, 28) 0%, rgba(29, 32, 35, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    /* background-color: rgba(52, 117, 187, 1);
    background-image: linear-gradient(171deg, rgba(52, 117, 187, 1) 10%, rgba(32, 41, 95, 1) 89%);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

nav{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: 'Kanit', sans-serif;
    padding: 0 50px;
    position: relative;
   
}

.nav-logo{
    margin-top: 20px;
    max-width: 150px;
    max-height: 150px;
    margin-right: auto;;
    
}
.nav-links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 18px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    border-radius: 150px 40px 150px 40px;
    background-color: #4E0F0F;
    padding: 20px;
}
nav .hamburger{
    display: flex;
    position: relative;
    align-items: center;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}
nav .hamburger .line{
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: white;
}

nav .hamburger .line:nth-child(1){
    top: 0;
}
nav .hamburger .line:nth-child(3){
    bottom: 0;
}


.link a{
    font-size: 24px;;
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.link a:hover{
    font-size: 22px;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #d1daf5;
    transition: all 0.3s ease;
}
.link a:hover::after{
    width: 70%;
}


header .header{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    margin-top: 50px;
}
.header .opis{
    margin-left: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
  
}
.header img{
    min-width: 300px;
    min-height: 300px;

   max-width: 600px;
   max-height: 600px;
 
}
.header h1{
    text-shadow: 4px 2px 0px rgba(66, 68, 90, 1);
    margin-bottom: 40px;
    letter-spacing: 3px;
    font-size: 64px;
}
.header p{
    font-size: 24px;
}
.arrow-down{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;;
}
main{
     max-width: 1600px;
     margin-left: auto;
     margin-right: auto;
}
#tiles{
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#tiles img{
    min-width: 300px;
    min-height: 300px;
    max-width: 600px;
    max-height: 600px;;
}
.tiles{
    
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tile{
    color: #fff;
    text-shadow: 3px 1px 9px rgba(66, 68, 90, 1);
    font-size: 24px;
    display: flex;
    user-select: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    margin: 15px;
    width: 300px;
    height: 350px;
    border-radius: 12px;;
    border: 2px solid white;
    box-shadow: 4px 4px 20px -9px rgba(235, 225, 225, 1);
    cursor: pointer;
    transition: .2s ease;
}
.tile:hover{
    transform: scale(110%);
    box-shadow: 12px 12px 24px -9px rgba(235, 225, 225, 1);

}
.tile strong{
    text-align: center;
    margin-bottom: 12px;
}
.tile span{
text-align: center;
}
.gradient-background {
    background: linear-gradient(300deg,#df5757,rgb(192, 66, 72),#d31616);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

 /* ------------------Sekcja Jak zaczac */
 #poczatki-treningu{
    margin: 200px 0 300px 0;
    min-height: 100vh;
    padding: 30px;
 }
#poczatki-treningu .container .entry .title{
    margin-bottom: 70px;
    text-align: center;
}
#poczatki-treningu .container .entry h1{
    font-size: 64px;
    text-shadow: 4px 2px 0px rgba(66, 68, 90, 1);
    margin-bottom: 20px;
}
#poczatki-treningu .container .entry p{
    font-size: 28px;
    margin-bottom: 100px;
}

.list .item img{
    width: 250px;
    height: 250px;
}

#poczatki-treningu .container .list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
#poczatki-treningu .container .list ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    list-style: none;
}
#poczatki-treningu .container .list .item{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 75px 100px;
}
#poczatki-treningu .container .list .item h1{
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}
#poczatki-treningu .container .list .item i{
    margin-top: 10px;
    font-size: 64px;
    cursor: pointer;
}
#poczatki-treningu .container .list .item .modal-container{
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: .2s ease;
   
}
#poczatki-treningu .container .list .item .modal-container.active{
    opacity: 1;
    visibility: visible;
   
   
}
#poczatki-treningu  .modal-container.active body{
   overflow: hidden;
}
#poczatki-treningu .container .list .item .modal-container.active .modal{
    transform: translate(-50%, -45%);
}

#poczatki-treningu .container .list .item .modal{
    transition: .3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: black;
    border-radius: 12px;
    font-size: 28px;
    padding: 32px 50px;
   
}

#poczatki-treningu .container .list .item .modal h1{
   font-size: 32px;
   text-align: center;
}
#poczatki-treningu .container .list .item .modal i{
    position: absolute;
    right: -10px;
    top: -20px;
    padding: 20px;
    font-size: 38px;
    
}
.btn-arrow{
    animation: arrowDownAnimation 4s ease infinite;
}


@keyframes arrowDownAnimation{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

/* --------------------------ZDROWY STYL ŻYCIA-------------------------- */
#zdrowy-styl-zycia{
    padding-top: 50px;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    text-align: center;
   
}
.home h1{
    font-size: 48px;
    margin-bottom: 30px;
    text-shadow: 4px 2px 0px rgba(66, 68, 90, 1);
    
}
.home h2{
    font-size: 32px;
    margin-bottom: 35px;
    text-shadow: 4px 2px 0px rgba(66, 68, 90, 1);
}
.home p{
    font-size: 28px;
    text-align: center;
}
.home .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    text-align: left;
   
}
.home .description p{
    text-align: left;
    margin-bottom: 50px;
}
.home .description .styl-scroll-btn{
    text-align: center;
    font-size: 26px;
    background-color: white;
    color: black;
    width: 30%;
    border-radius: 12px;
    padding: 20px 0px;
    margin: 50px 0px;
    cursor: pointer;
    transition: .3s ease;
}
.home .description .styl-scroll-btn:hover{
   transform: scale(105%);
}
.home .description .styl-scroll-btn a{
    color: black;
}
.swipers{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   align-items: center;
    overflow: hidden;
    padding: 75px 0;
    
}
.swiper-container h1{
   text-align: center;
   margin-bottom: 15px;
}
.swiper {
    width: 240px;
    height: 320px;
  
}
.swiper-slide{
    width: 80%;
    max-width: 240px;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    background-color: #fff;
    border: 4px solid black;
    text-align: center;
    margin: 0 auto;
  }
  .swiper-slide img{
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    transform: translateY(25%);
  }
  .swiper-slide span{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
  }

.points{ 
    min-height: 100vh;
    max-width: 1600px;
    margin: 200px auto;
    padding: 30px;
}
.point{
    display: flex;  
    margin: 30px 0;
}
.point .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 320px;
    background-color: #fff;
    border-radius: 50%;
    padding: 30px;
    margin-right: 80px;
}
.point img{
    width: 200px;
    height: 200px;
  
}
.point .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.point h1{
    font-size: 48px;
    margin-bottom: 10px;
}
.point p{
    font-size: 24px;
}
.point span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.point:nth-child(10) .description span{
    font-size: 36px;
}

/* ----------------------Sekcja silownia dla kazdego---------------------- */
#silownia-dla-kazdego{
    padding-top: 50px;
    margin: 300px 0 400px 0;
    padding: 30px;
}
.home-silownia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  
}
.home-silownia h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.home-silownia h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}
.home-silownia p{
    text-align: left;
    font-size: 22px;
}
.cards-container{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-shadow: 8px 8px 24px 7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 24px 7px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 24px 7px rgba(0, 0, 0, 1);
}
.card{
   
    width: 100%;
    display: inline-flex;
}
.cards-container .card-img{
    flex:  0 0 50%;
    padding: 20px;
}
.cards-container .card-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   padding: 30px;
}

.card .card-description{
    padding: 30px;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}
.card .card-description h1{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 800;
}
.card .card-description p{
    font-size: 20px;
    text-shadow: 4px 4px 6px rgb(131, 131, 150);
    
}

.card:nth-child(1) .card-description{
    background-color: #EDD154;
}
.card:nth-child(1) .card-description h1{
    text-shadow: 4px 4px 6px #8b7e42;
}   
.card:nth-child(2) .card-description{
    background-color: #F6851F;
}
.card:nth-child(2) .card-description h1{
    text-shadow: 4px 4px 6px #a06b3d;
}
.card:nth-child(3) .card-description{
    background-color: #CBE558;
}
.card:nth-child(3) .card-description h1{
    text-shadow: 4px 4px 6px #83972b;
}
.card:nth-child(4) .card-description{
    background-color: #83D9FF;
}
.card:nth-child(4) .card-description h1{
    text-shadow: 4px 4px 6px #4d849c;
}
.card:nth-child(5) .card-description{
    background-color: #2FDF84;
}
.card:nth-child(5) .card-description h1{
    text-shadow: 4px 4px 6px #378b60;
}
.card:nth-child(6) .card-description{
    background-color: #F0C020;
}
.card:nth-child(6) .card-description h1{
    text-shadow: 4px 4px 6px #97823d;
}
.card:nth-child(7) .card-description{
    background-color: #FC3E81;
}
.card:nth-child(7) .card-description h1{
    text-shadow: 4px 4px 6px #964662;
}
.card:nth-child(8) .card-description{
    background-color: #FFD54F;
}
.card:nth-child(8) .card-description h1{
    text-shadow: 4px 4px 6px #8a7328;
}
.card:nth-child(9) .card-description{
    background-color: #FFD0C7;
}
.card:nth-child(9) .card-description h1{
    text-shadow: 4px 4px 6px #b99c94;
}
.card:nth-child(10) .card-description{
    background-color: #FF6F95;
}
.card:nth-child(10) .card-description h1{
    text-shadow: 4px 4px 6px #f7a1b8;
}
.card .card-description:hover{
    user-select: none;
    transform: scale(105%);
    -webkit-box-shadow: 5px 8px 26px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 8px 26px 0px rgba(0, 0, 0, 1);
    box-shadow: 5px 8px 26px 0px rgba(0, 0, 0, 1);
}

/* -------------footer------------- */

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 175px;
    min-height: 200px;
    color: white;
    font-size: 38px;
    padding: 15px;
    justify-content: center;
    background-color: rgba(130, 16, 16, 1);
    background-image: linear-gradient(118deg, rgba(130, 16, 16, 1) 0%, rgba(144, 73, 58, 1) 100%);
}

.footer .nav-footer{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.footer .nav-footer .item{
    padding: 20px;
    transition: all .3s ease;
}
.footer .nav-footer .item a{
    font-size: 28px;
    color: #fff;
    transition: .3s ease;
}
.footer .nav-footer .item a:hover{
    color: rgba(255, 255, 255, 0.685);
   
}
.footer .media{
    display: flex;
     
}
.footer i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    background-color: #fff;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    color: black;
    cursor: pointer;
    transition: all 0.1s ease-in;
   
}
.footer i:hover{
    
   transform: scale(90%);
}
@media screen and (max-width: 1593px) {
    .cards-container{
     
        grid-template-columns: 1fr;
    }
    .cards-container .card-img{
        flex: 0 0 50%;
    }
    .card .card-description{
        flex: 0 0 50%;
    }
    .card .card-description h1{
        font-size: 42px;
    }
    .card .card-description p{
        font-size: 28px;
    }
}
@media screen and (max-width: 1460px){
    
    .header h1{
        font-size: 48px;
    }
    .header p{
        font-size: 20px;
    }
    #tiles img{
        display: none;
    }
    #poczatki-treningu .container .entry h1{
        font-size: 48px;
    }
    #poczatki-treningu .container .entry p{
        font-size: 22px;;
    }
    #poczatki-treningu .container .list .item{
        margin: auto;
        
    }

    #zdrowy-styl-zycia .home h1{
        font-size: 42px;
    }
    #zdrowy-styl-zycia .home h2{
        font-size: 28px;
    }
    #zdrowy-styl-zycia .home p{
        font-size: 24px;
    }
    #zdrowy-styl-zycia .home .description .styl-scroll-btn a{
        font-size: 22px;
        padding: 25px 0px;
    }
    #zdrowy-styl-zycia .description h1{
        font-size: 32px;
    }
    #zdrowy-styl-zycia .description p{
        font-size: 18px;
    }
    #zdrowy-styl-zycia .home p{
        font-size: 24px;
    }


    #silownia-dla-kazdego .home-silownia h1{
        font-size: 32px;
    }
    #silownia-dla-kazdego .home-silownia h2{
        font-size: 26px;
    }
    #silownia-dla-kazdego .home-silownia p{
        font-size: 20px;
    }
    .card .card-description h1{
        font-size: 36px;
    }
    .card .card-description p{
        font-size: 24px;
    }
}
@media screen and (max-width: 1240px){
    .nav-logo{
        margin-top: 20px;
        max-width: 120px;
        max-height: 120px;
    }
    .link a{
        font-size: 20px;
    }
    .header img{
        display: none;
    }
    #poczatki-treningu .container .entry h1{
        font-size: 42px;
    }
    #poczatki-treningu .container .entry p{
        font-size: 24px;;
    }
    .home .description .styl-scroll-btn {
        width: 60%;
        padding: 15px 0;
        margin: 30px 0;
    }

    .swipers {
        width: 90%;
        padding: 50px 0;
    }

    .swiper {
        width: 180px;
        height: 240px;
    }
    .point{
        /* margin: 50px 0; */
    }
    .point .image-container{
        min-width: 250px;
        min-height: 250px;
    }
    .point img{
        width: 150px;
        height: 150px;
    }
   
    #zdrowy-styl-zycia .description h1{
        font-size: 38px;
    }
    #zdrowy-styl-zycia .description p{
        font-size: 20px;
    } 
    #zdrowy-styl-zycia .home p{
        font-size: 24px;
    }
    .point:nth-child(10) .description span{
        font-size: 30px;
    }
}
@media screen and (max-width: 1020px){

    .header .opis{
        margin-left: 25px;
    }
    .nav-links a{
        font-size: 18px;
       
    }
    .nav-links{
        display: flex;
        justify-content: center;
    }
    .nav-logo{
      
        max-width: 100px;
        max-height: 100px;
    }

    .list .item img{
        width: 150px;
        height: 150px;
    }
    .opis h1{
        font-size: 42px;
    }
    .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        flex-direction: column;
    }

    .cards-container .card-img,
    .card .card-description {
        flex: 1 1 50%;
    }

    .cards-container .card-img{
        justify-content: center;
        align-items: center;
        display: flex;
       padding: 0;
      
    }
    .cards-container .card-img img{
       padding: 15px;
        width: 50%;
    }

    .swiper-slide img{
        width: 120px;
        height: 120px;
      }
    .point .image-container{
        min-width: 200px;
        min-height: 200px;
        margin: 0 25px;
        padding: 0;
    }
    .point img{
        width: 100px;
        height: 100px;
    }
    .point span{
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }
    .point:nth-child(10) .description span{
        font-size: 22px;
    }
    #poczatki-treningu .container .entry p{
        font-size: 20px;;
    }
    #poczatki-treningu .container .list .item .modal{
        font-size: 24px;

    }
    #zdrowy-styl-zycia .description h1{
        font-size: 34px;
    }
    #zdrowy-styl-zycia .description p{
        font-size: 16px;
    } 
    #zdrowy-styl-zycia .home p{
        font-size: 24px;
    }
   
}
@media screen and (max-width: 805px){

    .opis h1{
        font-size: 35px;
    }
    #poczatki-treningu .container .list ul{
        grid-template-columns: repeat(2, 1fr);
    }
    #poczatki-treningu .container .entry p{
        font-size: 20px;;
    }

    .point .image-container{ 
        width: 150px;
        height: 150px;
    }
    #poczatki-treningu .container .list .item .modal{
        font-size: 22px;
        padding: 15px 30px;
        width: 80%;
    }
    #poczatki-treningu .container .list .item .modal h1{
        font-size: 22px;
    }
    #zdrowy-styl-zycia .description h1{
        font-size: 28px;
    }
    #zdrowy-styl-zycia .description p{
        font-size: 18px;
    } 
    #zdrowy-styl-zycia .home{
        padding: 0 20px;
    }
    #zdrowy-styl-zycia .home p{
        font-size: 22px;
    }
    .swipers{
       
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .swiper{
      
    }
    
}
@media screen and (max-width: 530px){

    nav .hamburger{
        display: flex;
       
    }
    .nav-links{
        border-radius: 0;
        width: 100%;
        text-align: center;
        flex-direction: column;
        position: absolute;
        top: -200%;
        left: 0;
        background-color: transparent;
        background-repeat: no-repeat;  
        box-shadow: 0px 6px 12px -1px rgba(231, 65, 53, 0.24); 
       
        z-index: 9999;
        transition: all .3s ease;
    }
    .nav-links.active{
        top: 100%;
    }
    .header .opis{
        margin-top: 100px;
        padding: 0;
    }
    .header.active2{
        margin-top: 200px;
    }
    .arrow-down{
        margin-top: 100px;
    }
    .point .image-container{
        display: none;
    }
    #poczatki-treningu .container .list ul{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    #poczatki-treningu .container .list .item .modal{
        font-size: 19px;
        padding: 15px 30px;
        width: 90%;
    }
    
}