@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    
}
a{
    color: white;
}
img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(226, 38, 38, 1);
    background-image: linear-gradient(181deg, rgb(173, 28, 28) 0%, rgba(29, 32, 35, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: rgba(52, 117, 187, 1);
    background-image: linear-gradient(171deg, rgba(52, 117, 187, 1) 10%, rgba(32, 41, 95, 1) 89%);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}


nav{
   
    max-width: 1600px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'Kanit', sans-serif;

}

.nav-logo{
    
    max-width: 150px;
    max-height: 150px;
    margin-right: auto;;
}

.nav-links{
   
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    font-size: 25px;
    justify-items: center;
    width: 400px;
    margin-right: 200px;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 150px 40px 150px 40px;
    /* background-color: rgba(31, 89, 158, 1);
    background-image: linear-gradient(90deg, rgba(31, 89, 158, 1) 0%, rgba(35, 106, 181, 1) 100%); */
    background-color: #4E0F0F;

        
}

.link a{
   
   
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.link a:hover{
    font-size: 22px;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #d1daf5;
    transition: all 0.3s ease;
}
.link a:hover::after{
    width: 70%;
}

.pasek{
    width: 349px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 38px;
    cursor: pointer;
    display: flex;
    padding: 15px;
    border-radius: 18px;
    justify-content: center;
    margin-bottom: 40px;
    /* background-color: rgba(130, 16, 16, 1);
    background-image: linear-gradient(118deg, rgba(130, 16, 16, 1) 0%, rgba(144, 73, 58, 1) 100%); */
    background-color: #4E0F0F;
    margin-top: 40rem;
}
.pasek i{
    padding: 0 20px;
}
header{
    margin: 0 150px 0 150px;
}
.home{
    display: flex;
    justify-content: center;
}
.home img{
    width: 500px;;
    height: 500px;
}
.home .start-info{
    margin-top: 120px;
    line-height: 40px;
    margin-left: 50px;
}
.home h1{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    color: white;
    text-shadow: 4px 2px 0px rgba(66, 68, 90, 1);
}
.home p{
   
    font-size: 24px;
    text-shadow: 4px 2px 0px rgba(66, 68, 90, 1);
    color: white;
}
.arrow-down{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 102px;
    margin-bottom: 120px;
    cursor: pointer;
}
#tiles{
  
    margin: 0 150px 150px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tiles img{
    width: 500px;
    height: 500px;;
}
.tiles{
    height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: right;
  
}
.tile{
    color: #fff;
    text-shadow: 3px 1px 9px rgba(66, 68, 90, 1);
    font-size: 24px;
    display: flex;
    user-select: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    margin: 0 20px;
    width: 300px;
    height: 350px;
    border-radius: 12px;;
    border: 2px solid white;
    box-shadow: 4px 4px 20px -9px rgba(235, 225, 225, 1);
    cursor: pointer;
    transition: .2s ease;
}
.tile:hover{
    transform: scale(110%);
    box-shadow: 12px 12px 24px -9px rgba(235, 225, 225, 1);

}
.tile strong{
    text-align: center;
    margin-bottom: 12px;
}
.tile span{
text-align: center;
}







.gradient-background {
    background: linear-gradient(300deg,#df5757,rgb(192, 66, 72),#d31616);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }