@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    
}
a{
    color: white;
}
img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(226, 38, 38, 1);
    background-image: linear-gradient(181deg, rgb(173, 28, 28) 0%, rgba(29, 32, 35, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: rgba(52, 117, 187, 1);
    background-image: linear-gradient(171deg, rgba(52, 117, 187, 1) 10%, rgba(32, 41, 95, 1) 89%);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}


nav{
   
    max-width: 1600px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'Kanit', sans-serif;

}

.nav-logo{
    
    max-width: 150px;
    max-height: 150px;
    margin-right: auto;;
}

.nav-links{
   
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    font-size: 25px;
    justify-items: center;
    width: 400px;
    margin-right: 200px;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 150px 40px 150px 40px;
    /* background-color: rgba(31, 89, 158, 1);
    background-image: linear-gradient(90deg, rgba(31, 89, 158, 1) 0%, rgba(35, 106, 181, 1) 100%); */
    background-color: #4E0F0F;

        
}

.link a{
   
   
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.link a:hover{
    font-size: 22px;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #d1daf5;
    transition: all 0.3s ease;
}
.link a:hover::after{
    width: 70%;
}

header .header{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

   
}
header .header h1{
    margin-top: 70px;;
    letter-spacing: 4px;
    font-size: 68px;
    color: white;
    text-shadow: 4px 2px 0px rgba(66, 68, 90, 1);
    margin-bottom: 40px;
}
header .header p{
    font-size: 28px;
    color: white;

}
.header img{
    width: 500px;
    height: 500px;
    margin-right: 200px;
}
.fala{
   width: 100%;
   height: 900px;
   
}
.info{
    background-color: #d22d2d;
    width: 100%;
    height: 550px;
}
.footer{
    width: 100%;
    height: 350px;
   
}
.kalkulator{
    position: absolute;
    top: 870px;
    margin-left: 100px;;
    width: 820px;
    min-height: 580px;
    border-radius: 12px;
    background-color: #fff;
    -webkit-box-shadow: 9px 8px 24px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 8px 24px -14px rgba(66, 68, 90, 1);
    box-shadow: 9px 8px 24px -14px rgba(66, 68, 90, 1);
    padding: 12px;
}
.kalkulator h1{
    margin-bottom: 32px;
    text-align: center;
}
.pole{
    margin: 12px 0;
    font-size: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    
}
.pole label{
    color: #d22d2d;
    font-weight: 600;
    margin-bottom: 4px;
}
.pola{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.pole-gora{
    display: flex;
   
}
.small{
    width: 250px
}
.big{
    width: 500px;
}
select, input{
    border: 1px solid rgba(0, 0, 0, 0.425);
    border-radius: 12px;
    margin-right: 24px;
    padding: 8px;
   
}
.button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.button button{
    width: 250px;
    height: 50px;
    border-radius: 12px;
    background-color: #e92323;
    color: white;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3 ease-in-out;
}
.button:hover{
    transform: scale(110%);
}
.wyniki{
    
    background-color: #fff;
    
    min-width: 700px;
    min-height: 580px;
    position: absolute;
    top: 870px;
    right: 0;
    margin-right: 100px;
    border-radius: 12px;
    padding: 20px;

}
.wyniki h2{
    margin-bottom: 12px;;
}
.values{
    padding: 35px 20px;
}
.values div{
    display: flex;
    align-items: center;
    padding: 18px 0;
    gap: 10px;
}
.calories img{
    width: 100px;
    height: 100px;
  
}
.values img{
    width: 60px;
    height: 60px;;
    clear: both;
    margin-right: 12px;;
}
.calories{
    margin-top: 12px;
    display: flex;
}
.calories div{
    margin-top: 12px;
    margin-left: 24px;
}
.calories p{
    margin-bottom: 6px;;
    font-size: 18px;
}
.calories strong{
    font-size: 22px;
    margin-right: 50px;
}
.calories .added{
    background-color: rgba(240, 248, 255, 0.644);
    padding: 8px 10px;
    border-radius: 12px;
   
    color: rgb(36, 197, 36);
}
.calories span{
    color: #e92323;
    font-size: 22px;
    font-weight: 500;
}
.inner-box{
   
    padding: 12px 24px;
    height: 100%;
    border-radius: 12px;
    border: 1px solid gray;
}