@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
  
}
img{
    width: 100%;
    display: flex;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(226, 38, 38, 1);
    background-image: linear-gradient(181deg, rgb(173, 28, 28) 0%, rgba(29, 32, 35, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
html{
    scroll-behavior: smooth;
}

nav{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: 'Kanit', sans-serif;
    padding: 0 50px;
    position: relative;
   
}

.nav-logo{
    margin-top: 20px;
    max-width: 150px;
    max-height: 150px;
    margin-right: auto;;
    
}
.nav-links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 18px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    border-radius: 150px 40px 150px 40px;
    background-color: #4E0F0F;
    padding: 20px;
}
nav .hamburger{
    display: flex;
    position: relative;
    align-items: center;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}
nav .hamburger .line{
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: white;
}

nav .hamburger .line:nth-child(1){
    top: 0;
}
nav .hamburger .line:nth-child(3){
    bottom: 0;
}


.link a{
    font-size: 24px;;
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.link a:hover{
    font-size: 22px;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #d1daf5;
    transition: all 0.3s ease;
}
.link a:hover::after{
    width: 70%;
}









.home-section{
    position: relative;
    width: 90%;
    margin-top: 40px;
    padding: 0 100px;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;
}
.home-section .arrow-div{
   display: flex;
   justify-content: center;
   margin-top: 50px;
}
.home-section .arrow{
    color: #fff;
    font-size: 64px;
    cursor: pointer;
    display: none;
}
.home-container{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    min-height: 800px;
    transition: all .3s ease;
}
.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 55%; 
    margin-top: 150px;
}
.info h1{
   font-size: 5em;
   text-shadow: 3px -4px 2px rgba(143, 144, 167, 1);
   color: #fff;
}
.info p{
    font-size: 1.2em;
    color: rgb(170, 169, 169);
}

.circles{
    width: 45%;
    position: relative;
}
.circle{
    -webkit-box-shadow: 8px 14px 22px -3px rgba(208, 107, 87, 1);
    -moz-box-shadow: 8px 14px 22px -3px rgba(208, 107, 87, 1);
    box-shadow: 8px 14px 22px -3px rgba(208, 107, 87, 1);
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    position: absolute;
    padding: 50px;
    font-weight: 600;
    user-select: none;
    transition: .2s ease;
}
.circles a{
    text-shadow: 3px -4px 2px rgb(90, 90, 92);
}
.c1{
    top: 50%;
    left: 10%;
    width: 250px;
    height: 250px;
}
.c2{
    top: 3%;
    left: -6%;
    width: 320px;
    height: 320px;;
}
.c3{
    top: 15%;
    left: 47%;
    width: 400px;
    height: 400px;
}
.circle:hover{
    transform: scale(110%);
    cursor: pointer;
}


.information{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
   
}

.information .info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #fff;
   
}


.information .info-section h1{
    margin-top: 80px;
    font-size: 62px;
    text-shadow: 3px -4px 2px rgba(143, 144, 167, 1);
}
.information .info-section p{
    font-size: 22px;
    letter-spacing: 1px;  
}

.footer{
    display: flex;
    flex-direction: column;
   
    margin-top: 150px;
    width: 100%;
    align-items: center;
    min-height: 200px;
    color: white;
    font-size: 38px;
    padding: 15px;
    justify-content: center;
    background-color: rgba(130, 16, 16, 1);
    background-image: linear-gradient(118deg, rgba(130, 16, 16, 1) 0%, rgba(144, 73, 58, 1) 100%);
}

.footer .nav-footer{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
   
}
.footer .nav-footer .item{
    padding: 20px;
    transition: all .3s ease;
  
}
.footer .nav-footer .item a{
    font-size: 32px;
    color: #fff;
    transition: .3s ease;
}
.footer .nav-footer .item a:hover{
    color: rgba(255, 255, 255, 0.685);
   
}
.footer .media{
    display: flex;
     
}
.footer i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    background-color: #fff;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    color: black;
    cursor: pointer;
    transition: all 0.1s ease-in;
   
}
.footer i:hover{
    
   transform: scale(90%);
}

@media screen and (max-width: 1600px){
    .circles{
        display: none;
    }
    .home-section .arrow{
        display: block;
    }
    .home-container{
        width: 100%;
    }
    .footer .nav-footer .item a{
        font-size: 24px;
    }
    .info{
        width: 100%;
        padding: 0 20px;
    }
    .information .info-section{
        padding: 20px 0;
    }
    .information .info-section h1{
        font-size: 48px;
    }
    .information .info-section p{
        font-size: 19px;
    }
    .information .info-section img{
        max-width: 450px;
    }
  
}
@media screen and (max-width: 1210px){
    .nav-logo{
        margin-top: 20px;
        max-width: 120px;
        max-height: 120px;
    }
    .link a{
        font-size: 20px;
    }
    .information .info-section{
        padding: 20px 0;
    }
    .information .info-section h1{
        font-size: 44px;
    }
    .information .info-section p{
        font-size: 17px;
    }
    .information .info-section img{
        max-width: 400px;
    }
    
}
@media screen and (max-width: 966px){
    .nav-links a{
        font-size: 18px;
       
    }
    .nav-links{
        display: flex;
        justify-content: center;
    }
    .nav-logo{
      
        max-width: 100px;
        max-height: 100px;
    }
    .home-container .info h1{
        font-size: 4em;
        
    }
  
    .home-section{
        margin-top: 0;
        padding: 0;
    }
   
    .home-container{
        min-height: 0px;
    }
    .info{
        font-size: 16px;
         
     }
     .information .info-section{
        
       gap: 0;
        flex-direction: column;
       
    }
   
    .information .info-section p{
        font-size: 17px;
    }
    .information .info-section h1{
        font-size: 42px;
    }
    .information .info-section img{
        max-width: 350px;
        padding: 0;
        
    }
    #o-nas{
        order: 0;
    }
   
    #konakt{
        order: 0;
       
    }
    .order{
        order: 1;
    }
   
}


@media screen and (max-width: 560px){
   

    nav .hamburger{
        display: flex;
       
    }
    .nav-links{
        border-radius: 0;
        width: 100%;
        text-align: center;
        flex-direction: column;
        position: absolute;
        top: -200%;
        left: 0;
        background-color: transparent;
        background-repeat: no-repeat;  
        box-shadow: 0px 6px 12px -1px rgba(231, 65, 53, 0.24); 
       
        z-index: 9999;
        transition: all .3s ease;
    }
    .nav-links.active{
        top: 100%;
    }
    .home-container.active2{
            margin-top: 100px;
    }
    .home-container .info h1{
        font-size: 3.6em
    }
    .information .info-section {
       padding: 10px;
    }
    .training-plans-container{
        min-height: 130vh;
    }
   

}

